sudo: required
dist: trusty
language: node_js
node_js:
  - '11.10.1'
cache:
  directories:
    - 'node_modules'
addons:
  ssh_known_hosts: 18.197.93.24
branches:
  only:
    - master
before_install:
  - bash .scripts/install.sh
install:
  - npm install
before_script:
  - export CI=false
  - psql -c 'create database tosudb_test;' -U postgres
  - ./node_modules/.bin/sequelize db:migrate --env test
after_script:
  - bash .scripts/deploy.sh
services:
  - postgresql
env:
  global:
    - SECRET_KEY=keyForRunningTesting
    - DB_HOST=localhost
    - DB_USERNAME=postgres
    - DB_PASSWORD=
    - DB_NAME_TEST=tosudb_test
